.topFixedBanner{
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.topBannerOverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background: rgba(0,0,0,0.7);
}
.topContent{
    margin-top: 12rem;
}

/* illustration component */
.background {
    padding: 5rem 2rem;
}

.background img {
    max-width: 100%;
}

@media only screen and (max-width: 1023px) {
    .background {
        display: none;
    }
}